@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: "Poppins",sans-serif;
  background: black;
  background-image: url(https://vip-go.shutterstock.com/blog/wp-content/uploads/sites/5/2020/05/shutterstock_407554567.jpg?w=750);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

menu {
  height: 100px;
  width: 100vw;
  background: rgba(121, 121, 121, 0.3);
  background: linear-gradient(90deg, rgba(0,0,0,0.7)0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.3)75%, rgba(0,0,0,0.1)100%);
  position: relative;
  display: flex;
  align-items: center; 
}

#check {
  opacity: 0;
  border: 5px solid pink;
}

.menu input {
  height: 10px;
  width: 10px;
  margin-left: 30px;
  margin-top: 30px;
  z-index: 99;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  z-index: 100;
}

.icon img {
  background: transparent;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.list-1-div{
  width: 300px;
  transform: translateX(-100%);
  background: linear-gradient(90deg, rgba(0,0,0,0.7)0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.3)75%, rgba(0, 0, 0, 0.1), rgba(0,0,0,0.0)100%);
  transition: transform 0.2s cubic-bezier(.29, .08, .45, .81);
  position: absolute;
  backdrop-filter: blur(5px);
  top: 100px;
  left: 0;
  z-index: 90;
}

.list-1-div .lists {
  font-size: 20px;
  background: transparent;
  color: white;
  list-style-type: none;
  height: calc(100vh - 100px);
  line-height: 55px;
}

.menu input:checked ~ .list-1-div {
  transform: translateX(0px);
}

.menu input:checked ~ .icon img{
  transform: rotate(45deg);
}

.list-1-div .lists li {
  text-align: center;
  font-weight: 500;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.list-1-div .lists li:hover {
  cursor: pointer;
  transform: translateX(15px);
  color: white;
  z-index: 99999;
  border-radius: 10px;
  text-shadow: 0px 0px 8px #fff;
  scale: 1.2;
}

.menu .icon img:hover {
  cursor: pointer; 
  background: rgba(214,214,214, 0.3);
  border-radius: 50%;
  box-shadow: 0px 0px 0px 10px rgba(214, 214, 214, 0.3);
}

.list-2-div{
  padding: 0 20px;
  display: flex;
  background-color: rgba(214, 214, 214, 0.0);
  backdrop-filter: blur(5px);
  justify-content: flex-end;
  height: 100px;
  width: 100vw;
}

.list-2-div .lists-2{
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  white-space: nowrap;
  list-style: none;
  color: white;
  letter-spacing: 1.5px;
  gap: 10%;
}

.list-2-div .lists-2 li{
  height: 100px;
  display: flex;
  align-items: center;
  padding: 10px;
  transition: all 0.2s ease;
}

.list-2-div .lists-2 li:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  text-shadow: 0px 0px 5px ;
  border-bottom: 3px solid white;
}

@media screen and (max-width:3700px){
  .menu{
    display: none;
  }

  .list-2-div{
    display: flex;
  }
}

@media screen and (max-width:1200px){
  .list-2-div{
    display: none;
  }
  .menu{
    display: block;
  }
}